body{
  margin: 0;
  padding: 0;
  font-family: Calibri;
  font-size: 18px;
  background: rgb(240, 240,240);
  text-align: center;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.9);
}

h1, h2, h3, h4{
  font-weight: lighter;
}

h1 {
    font-weight: 500;
}

a{
  text-decoration: none;
}

header{
  padding: 5%;
}

header img{
  width: 300px;
  border-radius: 300px;
  margin: 0px;
  border: 1px solid rgba(0,0,0,0.6);
  border-bottom: 2px solid 1px solid rgba(0,0,0,0.6);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}

.citation{
  font-size: 20px;
}

main{
    width: 40%;
    display: inline-block;
    text-align: justify;
    line-height: 35px;
}

section img{
    width: 33%;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0,0.15);
}

.project{
    width: 40%;
    display: inline-block;
    text-align: justify;
    line-height: 35px;
}

.project h3{
    line-height: 20px;
}

@media (max-width: 600px) {
    main{
        width: 90%;
    }

    section img{
        width: 90%;
    }
    
    .project{
        width: 90%;
    }
}
