.project-background-container{
    text-align: center;
}

.project-background{
    border-radius: 5px;
    margin: 30px 15px;
    width: 90%;
    display: inline-block;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}