<div class="container-fluid">
  <div class="project-background-container">
    <img class="project-background" [src]="'/assets/' + image" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="display-4 font-weight-bold">
          {{title}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="display-4">
          {{description}}
        </div>
      </div>
    </div>
    <br /><br/><br />
    <br /><br/><br />
    <br /><br/><br />
  </div>
</div>