<div class="container-fluid p-5">
  <br /><br /><br />
  <div class="row">
    <div class="col col-md-3">
      <div class="display-4">
        Bem vindo<br />
        <h3>@username</h3>
      </div>
    </div>
  </div>
  <br />
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col col-md-3 p-4">
      <div class="h2">
        Usuário<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Minhas informações</a><br/>
          <a class="text-secondary" href="/usr/ver">Todos os usuários</a><br/>
        </small>
      </div>
    </div>
    <div class="col col-md-3 p-4">
      <div class="h2">
        Certificados<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Meus certificados</a><br/>
          <a class="text-secondary" href="/usr/ver">Todos certificados</a><br/>
        </small>
      </div>
    </div>
    <div class="col col-md-3 p-4">
      <div class="h2">
        Associação<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Minha associação</a><br/>
          <a class="text-secondary" href="/usr/ver">Todas associações</a><br/>
        </small>
      </div>
    </div>
    <div class="col col-md-3 p-4">
      <div class="h2">
        PDV<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Meu PDV</a><br/>
          <a class="text-secondary" href="/usr/ver">PDV's cadastrados</a><br/>
        </small>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="col col-md-3 p-4">
      <div class="h2">
        Intercâmbio<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Chamadas abertas</a><br/>
          <a class="text-secondary" href="/usr/ver">Meu Intercâmbio</a><br/>
        </small>
      </div>
    </div>
    <div class="col col-md-3 p-4">
      <div class="h2">
        PDVLearning<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Meu PDVLearning</a><br/>
        </small>
      </div>
    </div>
    <div class="col col-md-3 p-4">
      <div class="h2">
        Viagens<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Minhas viagens</a><br/>
        </small>
      </div>
    </div>
    <div class="col col-md-3 p-4">
      <div class="h2">
        Pesquisa<br />
        <small>
          <a class="text-secondary" href="/usr/ver">Minhas pesquisas</a><br/>
        </small>
      </div>
    </div>
  </div>
</div>