<div class="bg-dark display-1 text-white">
  <div class="container">
    <br /><br/>
    <div class="p-4">
      <div class="display-4">Turn your ideias into actions.<br />
      <small>Choose your product and begin the transformation</small></div>
      <a href="/register" class='btn btn-primary'>Begin the experience</a>
    </div>
  </div>
  <br /><br/>
</div>
<div class="container">
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
  <div class="row">
    <div class="col-md-4">
      <div class="display-4">
        Build digital solutions in a easy way.
      </div>
    </div>
    <div class="col">
      <div class="display-3">
        With a integrated platform to connect the developer to your project requirements, you will be able to make requests and be in touch with the contract millestones.
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  
  <div class="row">
      <div class="col">
        <div class="display-3">
          Your project will be with full stack developers, with autorithy to understand how to build everthing into the best way.
        </div>
      </div>
      <div class="col-md-6">
        <div class="display-4">
          Security with a well builty project list
        </div>
      </div>
    </div>
  <br /><br/><br />
</div>