<div class="bg-dark display-1 text-white">
  <div class="container">
    <br /><br/>
    <div class="p-4">
      <div class="display-4">Turn your ideias into actions.<br />
      <small>Choose your product and begin the transformation</small></div>
      <a href="https://wa.me/5581987023928" class='btn btn-primary'>Tell me your project at WhatsApp</a>
    </div>
  </div>
  <br /><br/>
</div>
<div class="container-fluid">
  <div class="container">
    <br /><br/><br />
    <br /><br/><br />
    <br /><br/><br />
    <div class="row">
      <div class="col">
        <div class="display-3">
          Projects.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="display-4">
          I am nowadays Full Stack developer, researcher into eletronics embedded systems and volunteer Information Technology Coordinator of International Institute Awakening Vocations.  
        </div>
      </div>
    </div>
    <br /><br/><br />
    <br /><br/><br />
    <br /><br/><br />
  </div>
</div>

<app-project 
  title="SMART Event"
  description="Event management system built with a well developed framework and used into the principal events of International Institute Awakening Vocations."
  image="smart-event.png"></app-project>

<app-project 
  title="Certification System."
  description="Certification System developed to the International Institute Awakening Vocations."
  image="certificados.png"></app-project>
  
<app-project 
  title="Association System."
  description="Association System developed to the International Institute Awakening Vocations."
  image="associados.png"></app-project>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="display-4 font-weight-bold">
        My IIDV.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h1 font-weight-bold">
        In development
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-4">
        Enterprise Resource Planning system to the International Institute Awakening Vocations.
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
</div>


<div class="container">
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
  <div class="row">
    <div class="col">
      <div class="display-3">
        Mentoring.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-4">
        Helping to awake vocations isn't just working into related systems. It is also building the intrinsical light that exists into others.
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  
  <br /><br/><br />
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="display-4 font-weight-bold">
        Eventbot.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h1 font-weight-bold">
        In development
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-4">
        Telegram bot to help with event management.
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="display-4 font-weight-bold">
        UFPE Circular Simple App.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h1 font-weight-bold">
        In development
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-4">
        A simple app to help stundents to understand how the UFPE Circular moves into the university. And sure, to help them to get the bus more easily.
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
</div>


<div class="container-fluid bg-light text-center">
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
  <div class="row">
    <div class="col">
      <div class="display-3">
        Startup's.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-4">
        Comming soon...
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
</div>
<div class="container-fluid p-5 bg-dark text-white">
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
  <div class="row">
    <div class="col">
      <div class="display-3">
        Get in touch.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="display-4">
        Tell me your problem, and I will solve it for you.<br />
        <a href="https://wa.me/5581987023928" class='btn btn-light'>Tell me your project at WhatsApp</a>
      </div>
    </div>
  </div>
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
</div>