<div class="display-1 bg-light">
  <div class="container">
    <br /><br/>
    <div class="p-4">
      <b>meu</b>.institutoidv.org
    </div>
  </div>
</div>
<div class="container">
  <br /><br/><br />
  <br /><br/><br />
  <br /><br/><br />
  <div class="options">
    <div class="display-4">
      Informatização dos dados dos participantes do Instituto
      <br />
      <br />
      <small>
        A plataforma <b>meu</b>.institutoidv.org unifica todos os dados do Instituto Internacional Despertando Vocações em um único local.
      </small>
      <br /><br/><br />
    </div>
  </div>
</div>